.app {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.main {
  margin-top: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.rocker-item {
  margin-bottom: 20px;
}

.rocker-name {
  margin-top: 0;
}

.rocker-fame {
  margin-bottom: 0;
}
